.video-container {
  width: 800px;
  height: 450px;
  position: relative;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
